a {
  text-decoration: none;
}
body {
  color: #176196;
  background-color: rgb(122, 173, 175);
}
.banner-principal-desktop{
  width: 100%;
}
.banner-principal-mobile {
  display: none;
}
.faq h1 {
  font-size: 80px;
  text-align: center;
  margin-top: 10px;
}
.grupos-de-perguntas {
  display: flex;
  margin: 0px 150px;
}
.grupos-de-perguntas div {
  margin-top: 10px;
  padding: 10px 20px;
  width: 300px;
  border-left: 0.16px solid #176196;
  border-right: 0.16px solid #176196;
}
.grupos-de-perguntas h2 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: bolder;
}
.grupos-de-perguntas summary {
  margin: 5px 0px;
  font-size: 18px;
}
.grupos-de-perguntas p {
  margin-left: 15px;
}
@media (max-width: 900px) {
  .barra-superior a:last-child {
    margin: 0;
  }
  .banner-principal-mobile {
    display: inline;
    padding-top: 5vh;
    width: 100%;
  }
  .banner-principal-desktop {
    display: none;
  }
  .faq h1 {
    font-size: 60px;
    text-align: center;
    margin-top: 10px;
  }
  .grupos-de-perguntas{
    display: grid;
    margin: 0px 75px;
    align-self: center;
  }
  .grupos-de-perguntas div {
    padding: 20px 20px;
    width: 300px;
    border-bottom: 0.16px solid #176196;
    border-left: 0px solid #176196;
    border-right: 0px solid #176196;

  }
}
